// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// header

header {
  padding: 0 50px 0 50px;
  border-bottom: 1px solid #CCCCCC;

  .fa {
    font-size: 26px;
    margin-right: 16px;
    color: dimgray;
  }

  .navbar {
    background-color: white;
  }

  .nav-left {
    .navbar-brand img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }

  .nav-right {
    margin-left: auto;
  }

  .nav-center {
    margin-left: 220px;
    height: 26px;
  }

  .search-form {
    height: 24px;
    font-size: 14px;
    background-color: whitesmoke;
    padding-left: 1.4rem;
  }

  input::placeholder {
    text-align: center;
  }

  .fa-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 16px;
    line-height: 1.4rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}

.alert-error {
  display: none;
}

//home
.home {
  background-color: #fafafa;
  padding-top: 70px;
  padding-left: 100px;

  .new-post-form {
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    width: 550px;
    margin-bottom: 40px;
    display: inline-block;

    .form-body {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding-bottom: 20px;
      padding-top: 10px;

      p {
        text-align: center;
      }

      .form-error {
        color: darkred;
        font-size: 14px;
        padding-left: 5px;
      }

      textarea {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        min-height: 140px;
        border: 1px solid #CCCCCC;
        resize: none;
      }

      .image-form {
        display: none;
      }

      .preview,.image-preview{
        margin-left: 120px;
        margin-bottom: 20px;
      }

      .input-btn {
        background: dodgerblue;
        color: #fff;
        cursor: pointer;
        padding: 2px 10px;
        width: 50%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }

      .submit {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        background-color: dodgerblue;
        color: white;
      }
    }
  }

  .user-container {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;

    .user-image {
      display: inline-block;
      vertical-align: top;

      .image-item {
        border-radius: 25px;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .user-name {
      display: inline-block;

      .user-short-name {
        margin-left: 20px;
        font-weight: bold;
      }

      .user-full-name {
        color: #999999;
        margin-left: 20px;
        font-size: 14px;
      }
    }
  }

  .post-container {
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    width: 550px;
    margin-bottom: 20px;

    .post-user-name {
      height: 50px;
      padding: 10px 20px;

      a:hover {
        text-decoration: none;
      }
    }

    .post-image {
      margin-left: auto;
      margin-right: auto;
    }

    .post-message {
      height: 100px;
      padding: 10px 20px;
    }
  }
}

.like-btn {
  color: darkred;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
}

.unlike-btn {
  color: gray;
  font-size: 14px;
  display: inline-block;
}