//edit
.edit-container {
  background-color: #fafafa;
  padding-left: 50px;
  padding-top: 70px;

  .edit-menu {
    width: 250px;
    height: 550px;
    background-color: white;
    display: inline-block;
    border: 1px solid #CCC;
    vertical-align: top;

    li {
      padding-top: 10px;

      a {
        color: black;

        :hover {
          font-weight: bolder;
        }
      }
    }
  }

  .edit-contents {
    background-color: white;
    width: 600px;
    height: 550px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #CCC;

    .form-error {
      color: darkred;
      font-size: 14px;
      padding-left: 35px;
    }

    .edit-form-container {
      .edit-profile-label, .edit-password-label {
        .edit-image-container {
          display: inline-block;
          height: 110px;
          width: 200px;
          vertical-align: top;
          padding-top: 30px;
          padding-right: 20px;

          .image-item {
            border-radius: 25px;
          }
        }

        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
        padding-top: 12px;
        padding-right: 20px;

        .label-email {
          height: 79px;
          padding-top: 40px;
        }

        .label-gender {
          height: 50px;
          padding-top: 20px;
        }
      }

      .edit-password-label {
        margin-top: 30px;
      }

      .edit-password-form {
        margin-top: 30px;
      }

      .edit-profile-form, .edit-password-form {
        display: inline-block;
        width: 320px;
        vertical-align: top;

        .image_form_label {
          margin-top: 18px;
        }

        .image_form {
          margin-top: 10px;
          margin-bottom: 30px;
        }

        input {
          display: block;
          margin-top: 10px;
          width: 300px;
        }

        p {
          color: #999999;
          font-size: 14px;
          padding-top: 14px;
        }

        textarea {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 300px;
        }

        button, .button {
          height: 30px;
          margin-top: 10px;
          border-radius: 5px;
          background-color: dodgerblue;
          border: none;
          color: white;
          padding: 0 10px;
        }

        .gender-form {
          display: inline-block;

          input {
            width: 20px;
            display: inline-block;
            margin-left: 10px;
          }
        }

        .submit-form {
          .button {
            margin-top: 30px;
            width: 180px;
          }
        }
      }
    }
  }
}
