// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new
.sign-up-body {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 80px;

  .sign-up-container {
    width: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;

    .form-heading {
      text-align: center;

      .heading-logo {
        font-size: 32px;
        padding-top: 10px;
      }
    }

    .form-body {
      .form-error {
        color: darkred;
        font-size: 14px;
        padding-left: 35px;
      }

      input {
        width: 80%;
        margin-bottom: 10px;
        margin-left: 50px;
      }

      input::placeholder {
        padding-left: 10px;
        color: #999999;
        font-size: 14px;
      }

      .form-submit {
        width: 80%;
        margin-bottom: 40px;
        margin-left: 50px;
        background-color: dodgerblue;
        color: white;
      }
    }


  }

  .log-in-container {
    width: 450px;
    height: 90px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 10px;
  }
}

// login

.log-in-body {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 80px;

  .log-in-container {
    width: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;

    .form-heading {
      text-align: center;

      .heading-logo {
        font-size: 32px;
        padding-top: 10px;
      }
    }

    .form-body {
      .form-error {
        color: darkred;
        font-size: 14px;
        padding-left: 55px;
        padding-bottom: 10px;
      }

      input {
        width: 80%;
        margin-bottom: 25px;
        margin-left: 50px;
      }

      input::placeholder {
        padding-left: 10px;
        color: #999999;
        font-size: 14px;
      }
    }

    .form-submit {
      input {
        width: 80%;
        margin-bottom: 40px;
        margin-left: 50px;
        background-color: dodgerblue;
        color: white;
      }
    }
  }

  .sign-in-container {
    width: 450px;
    height: 90px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 10px;
  }
}

//show
.show-container {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 50px;

  .user-container {
    height: 300px;
    width: 810px;
    margin-left: auto;
    margin-right: auto;

    .user-icon {
      display: inline-block;
      width: 200px;
      height: 250px;
      vertical-align: top;

      .user-image {
        padding-top: 30px;
        padding-left: 20px;

        .image-icon {
          border-radius: 75px;
        }
      }
    }

    .user-information {
      display: inline-block;
      width: 500px;
      height: 250px;
      margin-left: 50px;
      vertical-align: top;

      .user-name {
        display: inline-block;
        font-size: 24px;
        padding: 20px 0;
        width: 280px;
      }

      .user-profile {
        display: inline-block;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #CCC;
        padding: 2px 15px;

        a:hover {
          text-decoration: none;
        }
      }

      .user-follow {
        display: inline-block;

        button {
          background-color: #fafafa;
          padding: 2px 15px;
          border-radius: 5px;
        }
      }

      .user-detail {
        display: inline-block;
        padding: 15px 0;

        .user-detail-left {
          width: 120px;
          display: inline-block;
        }

        .user-detail-center {
          width: 180px;
          display: inline-block;
        }

        .user-detail-right {
          width: 160px;
          display: inline-block;
        }
      }
    }
  }

  .user-image-container {
    height: 300px;
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    .image-item {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

//edit_profile_and_edit_password
.edit-container {
  background-color: #fafafa;
  padding-left: 50px;
  padding-top: 70px;

  .edit-menu {
    width: 250px;
    height: 550px;
    background-color: white;
    display: inline-block;
    border: 1px solid #CCC;
    vertical-align: top;

    li {
      padding-top: 10px;

      a {
        color: black;

        :hover {
          font-weight: bolder;
        }
      }
    }
  }

  .edit-contents {
    background-color: white;
    width: 600px;
    height: 550px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #CCC;

    .form-error {
      color: darkred;
      font-size: 14px;
      padding-left: 35px;
    }

    .edit-form-container {
      .edit-profile-label ,.edit-password-label{
        .edit-image-container {
          display: inline-block;
          height: 110px;
          width: 200px;
          vertical-align: top;
          padding-top: 30px;
          padding-right: 20px;

          .image-item {
            border-radius: 25px;
          }
        }

        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
        padding-top: 12px;
        padding-right: 20px;

        .label-email {
          height: 115px;
          padding-top: 40px;
        }

        .label-gender {
          height: 50px;
          padding-top: 20px;
        }
      }
      .edit-password-label{
       margin-top: 30px;
      }
      .edit-password-form{
        margin-top: 30px;
      }

      .edit-profile-form ,.edit-password-form{
        display: inline-block;
        width: 320px;
        vertical-align: top;

        .image_form_label {
          margin-top: 18px;
        }

        .image_form {
          margin-top: 10px;
          margin-bottom: 30px;
        }

        input {
          display: block;
          margin-top: 10px;
          width: 300px;
        }

        p {
          color: #999999;
          font-size: 14px;
          padding-top: 14px;
        }

        textarea {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 300px;
        }

        button, .button {
          height: 30px;
          margin-top: 10px;
          border-radius: 5px;
          background-color: dodgerblue;
          border: none;
          color: white;
          padding: 0 10px;
        }

        .gender-form {
          display: inline-block;

          input {
            width: 20px;
            display: inline-block;
            margin-left: 10px;
          }
        }

        .submit-form {
          .button {
            margin-top: 30px;
            width: 180px;
          }
        }
      }
    }
  }

}