// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new
.sign-up-body {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 80px;
  .sign-up-container {
    width: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;

    .form-heading {
      text-align: center;

      .heading-logo {
        font-size: 32px;
        padding-top: 10px;
      }
    }
    .form-body {
      .form-error{
        color: darkred;
        font-size: 14px;
        padding-left: 35px;
      }
      input {
        width: 80%;
        margin-bottom: 10px;
        margin-left: 50px;
      }

      input::placeholder {
        padding-left: 10px;
        color: #999999;
        font-size: 14px;
      }
    }

    .form-submit {
      input {
        width: 80%;
        margin-bottom: 40px;
        margin-left: 50px;
        background-color: dodgerblue;
        color: white;
      }
    }
  }
  .log-in-container{
    width: 450px;
    height: 90px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 10px;
  }
}

// login

.log-in-body {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 80px;
  .log-in-container {
    width: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;

    .form-heading {
      text-align: center;

      .heading-logo {
        font-size: 32px;
        padding-top: 10px;
      }
    }

    .form-body {
      .form-error{
        color: darkred;
        font-size: 14px;
        padding-left: 55px;
        padding-bottom: 10px;
      }
      input {
        width: 80%;
        margin-bottom: 25px;
        margin-left: 50px;
      }

      input::placeholder {
        padding-left: 10px;
        color: #999999;
        font-size: 14px;
      }
    }

    .form-submit {
      input {
        width: 80%;
        margin-bottom: 40px;
        margin-left: 50px;
        background-color: dodgerblue;
        color: white;
      }
    }
  }
  .sign-in-container{
    width: 450px;
    height: 90px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 10px;
  }
}